:root {
  --dark-navy: #0d1117;
  --light-navy: #293240;
  --light-grey-text: #c9d1d9;
  --orange: #f06449;
  --blue: #2f3c4d;
}

a {
  text-decoration: none;
  color: var(--light-grey-text);
}

@supports(scrollbar-color: var(--blue), #0d1117) {
  * {
    scrollbar-color: var(--blue), #0d1117;
  }
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.8em;
  background-color: var(--dark-navy);
}

::-webkit-scrollbar-thumb {
  background-color: var(--light-grey-text);
  border-radius: 5px;
  border: solid 2px var(--dark-navy);
}

::-webkit-scrollbar-thumb:hover {
background-color: #4A5A69;
}

html {
  scroll-padding-top: 6vh;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  width: 100%;
  font-size: 1em;
  background-color: var(--dark-navy);
  color: var(--light-grey-text);
  padding-left: 2vw;
  display: flex;
  top: 0;
  z-index: 3;
}

#nameOnHeader {
  color: var(--light-grey-text);
  font-family: 'Zeyada', cursive;
}

main {
  position: absolute;
  z-index: 1;
  width: 100%;
}

#menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2em;
  position: absolute;
  right: 0;
  margin-top: 5px;
}

#menu li {
  font-family: 'Poppins', sans-serif;
  padding-top: 2vh;
  margin-right: 1vw;
}

#menu li:hover, #menu li:focus-within {
  color: var(--orange);
}

#welcome {
  z-index: 1;
  background: linear-gradient(45deg, #12171d, #25303d, #2f3c4d, var(--blue), #657fa1);
  width: 100%;
  min-height: 101vh;
  border-bottom: 3px solid var(--light-grey-text);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 10vh;
  position: relative;
  background-size: 400%, 400%;
  animation:bg 6s ease-in-out infinite;
  }

#welcomeText {
  font-size: 3.5em;
  color: var(--light-grey-text);
  padding-left: 5vw;
}

#myName {
  font-size: 4.5em;
  color: var(--orange);
  padding-left: 5vw;
}

#myName::after{
  content: '.';
  color: var(--light-grey-text);
}

#welcomeBtnsDiv {
  display: flex;
  padding-top: 2em;
  padding-left: 5vw;
}

.welcomeBtns {
  margin-left: 0.6vw;
  font-size: 1.6em;
  border-radius: 5px;
  padding: 0.2em;
  background-color: var(--dark-navy);
  color: var(--light-grey-text);
  box-shadow: 0.5px 0.5px 2px var(--orange);
}

.welcomeBtns:hover, .welcomeBtns:focus-within {
  color: var(--orange);
}

#resumeBtn {
  margin-left: 0.5em;
}

#subText {
  color: var(--light-grey-text);
  padding-left: 5vw;
}

#arrow {
  display: flex;
  margin-top: 5vh;
  animation: movingArrow 1000ms ease-in infinite;
}

#arrowImg {
  width: 8vw;
  height: 8vh;
}

#arrowDiv {
  display: flex;
  justify-content: center;
  padding-left: 0vw;
}

#about {
  min-height: 100vh;
  background: var(--light-grey-text);
  padding-top: 5vh;
  padding-left: 3vw;
  padding-bottom: 12vh;
}

.sectionTitle {
  color: var(--dark-navy);
  margin-top: 5vh;
  font-size: 5vh;
}

.sectionTitle::after {
  content: "";
  display: inline-block;
  height: 1px;
  vertical-align: middle;
  width: 40vw;
  background-color: var(--dark-navy);
  margin-left: 2vw;
}

#aboutTextDiv {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.aboutText {
  text-align: center;
  margin-left: 5vw;
  margin-right: 5vw;
  font-size: 1.3rem;
  color: var(--dark-navy);
  padding-bottom: 1em;
}

span {
  color: var(--orange);
  font-size: 1.6rem;
  text-decoration: underline;
}

#sectionSubTitle {
  position: absolute;
  color: var(--dark-navy);
  right: 5vw;
  margin-bottom: 5vh;
  font-size: 4vh;
}

#sectionSubTitle::before {
  content: "";
  display: inline-block;
  height: 1px;
  vertical-align: middle;
  width: 40vw;
  background-color: var(--dark-navy);
  margin-right: 2vw;
}

@media screen and (max-width: 600px) {
  html {
    scroll-padding-top: 8vh;
  }

  #menu {
    font-size: 0.7em;
    transform: translateY(-3.5vh);
    padding-top: 5px;
  }
  #menu li {
    padding-right: 10px;
    font-family: 'Poppins', sans-serif;
    padding-top: 0vh;
  }

  header {
    display: block;
    padding-bottom: 1vh;
  }

  #welcome {
    height: 100%;
  }

  #welcomeText {
    font-size: 2em;
    color: var(--light-grey-text);
    padding-left: 5vw;
  }

  #myName {
    font-size: 3em;
    color: var(--orange);
    padding-left: 5vw;
  }

 
  .welcomeBtns {
    font-size: 1em;
  }

  #arrow {
    width: 8vw;
    height: 8vh;
    margin-top: 5vh;
  }

  #contactInfo {
    margin-right: 2.5vw;
    margin-left: 2.5vw;
  }
  
  #contactForm {
    margin-right: 2.5vw;
    margin-left: 2.5vw;
  }
}

@media screen and (max-height: 320px) {

  #welcomeText {
    font-size: 2em;
    color: var(--light-grey-text);
    padding-left: 5vw;
    padding-top: 20vh;
  }

  #myName {
    font-size: 3em;
    padding-left: 5vw;
  }

 
  .welcomeBtns {
    font-size: 1em;
  }

  #arrow {
    width: 8vw;
    height: 8vh;
    margin-top: 5vh;
  }
}

@keyframes movingArrow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bg {
  0% {
    background-position: 0, 50%;
  }

  50% {
    background-position: 100%, 50%;
  }

  100% {
    background-position: 0, 50%;
  }
  
}

#boxsDivs {
  display: flex;
  flex-wrap: wrap;
  margin-right: 10vw;
  margin-left: 10vw;
  margin-top: 12vh;
  justify-content: center;
  min-height: 55vh;
}

.tools {
  font-family:Arial, Helvetica, sans-serif;
  width: 200px;
  margin-right: 2.5vw;
  margin-left: 2.5vw;
  text-align: center;
  border: solid var(--dark-navy) 2px;
  border-radius: 15px;
  margin-bottom: 3vh;
}

.titleTools {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--light-grey-text);
  background-color: var(--light-navy);
  border-radius: 15px;
  font-size: 1.2em;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.icons {
  filter: brightness(0) saturate(100%) invert(17%) sepia(15%) saturate(941%) hue-rotate(177deg) brightness(96%) contrast(93%);
  display: flex;
  flex-direction: column;
  width: 6vh;
  height: 6vh;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 4vh;
}

.icons:hover {
  filter: brightness(0) saturate(100%) invert(55%) sepia(68%) saturate(3830%) hue-rotate(334deg) brightness(102%) contrast(88%);
}

.iconDiv:hover {
  transform: scale(1.05);
}


#html::before {
  content:"HTML";
  color: var(--light-navy)
}

#css::before {
  content:"CSS";
  color: var(--light-navy)
}

#js::before {
  content:"JavaScript";
  color: var(--light-navy)
}


#react::before {
  content:"React";
  color: var(--light-navy)
}


#docker::before {
  content:"Docker";
  color: var(--light-navy)
}

#mysql::before {
  content:"MySQL";
  font-size: 0.8em;
  color: var(--light-navy)
}

#bash::before{
  content:"Bash";
  color: var(--light-navy)
}

#github::before {
  content:"GitHub";
  color: var(--light-navy)
}

#scrum::before {
  content:"SCRUM";
  color: var(--light-navy)
}


#jest::before{
  content:"Jest";
  color: var(--light-navy)
}

@media(pointer: coarse) {
  .iconDiv {
    border-radius: 15px;
    padding-top: 2vh;
    margin-bottom: 2.5vh;
  }

  .iconDiv:hover .icons{
    filter: brightness(0) saturate(100%) invert(59%) sepia(40%) saturate(5826%) hue-rotate(333deg) brightness(99%) contrast(89%);
    }

  
  #html::before {
    content:"HTML";
    color: var(--light-navy);
    font-size: 1.1em;
  }
  
  
  #css::before {
    font-size: 1.1em;
    content:"CSS";
    color: var(--light-navy);
  }

  #js::before {
    font-size: 1.1em;
    content:"JavaScript";
    color: var(--light-navy);
  }
  
  #react::before {
    font-size: 1.1em;
    content:"React";
    color: var(--light-navy);
  }
  
  #docker::before {
    font-size: 1.1em;
    content:"Docker";
    color: var(--light-navy);
  }
  
  #mysql::before {
    font-size: 1.1em;
    content:"MySQL";
    color: var(--light-navy);
  }
  
  #bash::before {
    font-size: 1.1em;
    content:"Bash";
    color: var(--light-navy);
  }
  
  #github::before {
    font-size: 1.1em;
    content:"GitHub";
    color: var(--light-navy);
  }

  #scrum::before {
    font-size: 1.1em;
    content:"SCRUM";
    color: var(--light-navy);
  }

  #jest::before {
    font-size: 1.1em;
    content:"Jest";
    color: var(--light-navy);
  }
}

#education {
  background-color: var(--blue);
  position: relative;
  margin-top: -3vh;
}

#education::before {
  position: absolute;
  content: '';
  width: 9vw;
  height: 9vw;
  right:50%;
  transform: skew(0, 30deg);
  bottom: -4vh;
  background-color: var(--blue);
  z-index: -1;
}

#education::after {
  position: absolute;
  content: '';
  width: 9vw;
  height: 9vw;
  left: 50%;
  transform: skew(0, -30deg);
  bottom: -4vh;
  background-color: var(--blue);
  z-index: -1;
}

#timelineDiv {
  width: 70vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10vh;
}

#educationTitle {
  color: var(--light-grey-text);
  font-size: 5vh;
}

#educationTitle::after {
  content: '';
  display: inline-block;
  width: 70vw;
  height: 1px;
  background-color: var(--light-grey-text);
  margin-top: 3vh;
  margin-bottom: 10vh;
}

.educationExperience {
  display: flex;
  justify-content: center;
}

.leftEducation {
  border-right:solid 1px var(--light-grey-text);
  padding-right: 2vw;
  width: 50%;
  text-align: right;
  color: var(--light-grey-text);
  font-size: 1 em;
  padding-bottom: 10vh;
}

.rightEducation {
  width: 50%;
  padding-left: 2vw;
  text-align: left;
  color: var(--light-grey-text);
}

.school {
  margin-bottom: 1.5vh;
}

.educationDescription {
  margin-bottom: 5vh;
}

.graduation::after {
  content: '';
  height: 1px;
  width: 100%;
  display: flex;
  background-color: var(--orange);
}

.educationYear {
  color: var(--orange);
}

#projects {
  min-height: 100vh;
  background-color: var(--light-grey-text);
  position: relative;
  z-index: -2;
  padding-top: 10vh;
  text-align: center;
}

.projectTitle {
  margin-top: 2vh;
  margin-bottom: 5vh;
  font-size: 5vh;
}

.projectTitle::after {
  content: '';
  display: block;
  width: 70vw;
  height: 2px;
  background-color: var(--orange);
  margin-top: 3vh;
  margin-left: auto;
  margin-right: auto;
}

#cardsDiv {
  max-width: 80vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sectorDiv {
  margin: 2vw;
}

.card {
  width: 230px;
  height: 270px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  border: solid black 1px;
  margin-top: 25px;
  background-image:url(./images/bgimg.jpg);
  color: var(--light-grey-text);
  align-items: flex-end;
  display: flex;
  overflow: hidden;
  transition: transform 500ms ease;
  box-shadow: 5px 3px 3px var(--light-navy);
}

.card:hover, .card:focus-within {
  transform: scale(1.05);
}

.cardContent {
  padding-right: 2vw;
  padding-left: 2vw;
  padding-bottom: 1.3vh;
  background: linear-gradient(
    hsl( 0 0% 0% / 0), 
    hsl( 0 0% 0% / 0.3) 7%, 
    hsl(0 0% 0% / 1));
  text-align: start;
  width: 230px;

}

@media (hover) {
  .cardContent {
      transform: translateY(82%);
      transition: transform 500ms ease;
  }
}

.card:hover .cardContent, .card:focus-within .cardContent {
  transform: translateY(0);
}

.cardTitle {
  color: rgb(255 255 255 / 0.9);
  margin-bottom: 2vh;
}

.cardText {
  margin-bottom: 2vh;
  color: rgb(255 255 255 / 0.9);
}

.cardButton {
  background-color: var(--orange);
  text-decoration: none;
  color: var(--dark-navy);
  padding: 1vh;
  margin: 0.3em;
  border-radius: 7px;
}

.cardButton:hover, .cardButton:focus-within {
  background-color: var(--light-grey-text);
  color: var(--blue);
}

@media (prefers-reduced-motion: reduce) {
  *, *::after, *::before {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition-delay: 0ms !important;
  }
}

.cardLimits {
  position: relative;
  width: 230px;
}

.tag {
  max-width: 25px;
  max-height: 25px;
  width: 7vh;
  height: 7vh;
  position:relative;
  right: 0.5vw;
  top: 3vh;
  background-color: var(--light-grey-text);
  border-radius: 50%;
  margin: 0.2vw;
  margin-bottom: 1vh;
}


.tagsDiv {
  position: absolute;
  right: 0.5vw;
  top: -2vh;
  display: flex;
  flex-direction: column;
}

#contact {
  min-height: 70vh;
  background-color: black;
  text-align: center;
  color: var(--light-grey-text);
  padding-bottom: 6vh;
}

#contactTitle {
  color: var(--light-grey-text);
  padding-top: 9vh;
}

#contactTitle::after {
  content: '';
  display: block;
  width: 70vw;
  height: 1px;
  background-color: var(--light-grey-text);
  margin: 3vh auto;
}

#contentDivisor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.contactIcon {
  filter: brightness(0) saturate(100%) invert(95%) sepia(7%) saturate(492%) hue-rotate(182deg) brightness(91%) contrast(86%);
  width: 35px;
  height: 35px;
  margin-right: 1vw;
}

#contactInfo {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 3vh;
  margin-right: 2.5vw;
  text-decoration: none;
  justify-content: center;
}

#contactForm {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-left: 2.5vw;
}

.info {
  display: flex;
  flex-direction: row;
  margin-top: 1.2vh;
  align-items: center;
}

.inputField {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}

input {
  border-bottom: solid 1px white;
  background-color: black;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 1vh;
  margin-top: 1.5vh;
  color: white;
  width: 300px;
  height: 4.5vh;
}

.inputLabel {
  margin-left: 0;
  align-self: flex-start;
  color: var(--light-grey-text);
  font-family: League Spartan,Helvetica,Arial,sans-serif;
  letter-spacing: 2px;
  font-size: 1.7vh;
  font-weight: bold;
}

textarea {
  margin-bottom: 1vh;
  border-bottom: solid 2px white;
  background-color: black;
  border-top: none;
  border-right: none;
  border-left: none;
  margin-top: 1.5vh;
  color: white;
  width: 300px;
}

button {
  background-color: var(--black);
  width: 80px;
  border-radius: 3px;
  margin-top: 3vh;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  background-color: var(--light-grey-text);
  font-weight: bold;
}

button:hover {
  background-color: var(--orange);
}
